<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>متحقق سجلات المرسل</title>


  <!-- Vendor CSS Files -->
 <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css') }}">
  <!--<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet"> scrol up icon-->

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"> <!-- ? ? in question section-->



  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap-rtl.min.css') }}">


  <!-- =======================================================
  * Template Name: Appland - v2.0.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html">متحقق سجلات المرسل</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
         <!-- <li><a href="#contact">Contact Us</a></li> -->
          <li><a href="#faq">عن SPF</a></li>
          <li class="active"><a href="#header">الصفحة الرئيسية</a></li>
         <!--  <li class="get-started"><a href="#features">Get Started</a></li> -->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>متحقق سجلّات نظام التعرّف على هوية المرسِل (SPF)</h1>
             <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">

        </div>

        <div class="row">

			<h2>اسم النطاق</h2>

            <form action="/postdata" name="domainform"  method="post" role="form" class="php-email-form" data-aos="fade-up" onsubmit="return validate()">

              <!--
              <div class="form-group">
                <input placeholder="domain.com" type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
            -->

               <input type="text" class="form-control" id="domain_name" name="domain_name"  placeholder="domain.com" required/>
               <div class="domain_error">
                        <p> {{ msg }} </p>
                        <p id="error_msg"> </p>
               </div>

              <div class="text-center"><button type="submit"> تحقق</button></div>
            </form>
          </div>

        </div>


    </section><!-- End Contact Section -->

          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <!--  <img src="assets/img/hero-img.png" class="img-fluid" alt="">-->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">

          <h2>عن سجلّات نظام التعرّف على هوية المرسِل</h2>

        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
                <a data-toggle="collapse" class="collapse" href="#accordion-list-1"> ماهو سجل SPF <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                <p>
                 هو سجل يضم خوادم البريد التي يمكنها إرسال الرسائل الإلكترونية من النطاق.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
                <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"> فائدة  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                <p>
             يساعد المستلمين على معرفة المصدر الذي تأتي منه الرسائل الإلكترونية المُرسَلة من نطاقك ومنع انتحال بريدك الإلكتروني.


                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
                <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                <p>
        
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">

      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
       
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>

  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- question drop -->

  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script><!-- navig link -->

  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script><!-- content -->

  <script src="static/assets/vendor/aos/aos.js"></script><!-- content -->

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript">
 
      function validate() {
      
    /* 
    
    Only accept a valid domain name :

    1- Begin and end with alphanumeric characters
    2- Doesn’t contain any special character except dashes (-) and dots (.)
    3- Maximum length of each label is 63 characters
    4- Top-level domain has Min 2 and Max 6 characters 
    
    */
        var regex =  new RegExp('^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$');
        var domain= document.forms["domainform"]["domain_name"].value;
     
        if (! (regex.test(domain)) ) {
          document.getElementById("error_msg").innerHTML= " الرجاء كتابة اسم النطاق بشكل صحيح ";
          return false;
        }
     
      }

  </script>
</body>

</html>
