<!doctype html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!--CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_sheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-rtl.min.css') }}">
 
 
    <title>متحقق السجلات</title>
  </head>

  <body>
    <div>
      <div class="header">
        <h1>متحقق سجلات نطاق سياسة المرسل</h1>
        <p> </p>
        <br><br>
      </div>

      <div class="topnav">
        <a href="\" >الصفحة الرئيسية</a>
      </div>

      <div class="row">
        <div class="container" >
          <br>
          <br>
          <br>
          <form method="post" action="/postdata" name="domainform" onsubmit="return validate()" >
              <div class="form-group">
                  <label for="domain"> <h5> ادخل إسم النطاق</h5> </label>
                  <input type="text" class="form-control" id="domain_name" name="domain_name"  placeholder="example.com" required/>
                  <div class="domain_error">
                        <p> {{ msg }} </p>
                        <p id="error_msg"> </p>
                  </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary active"> تحقق </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script type="text/javascript">
//onsubmit="return validate()"
      function validate() {
      
		/* 
		
		Only accept a valid domain name :

		1- Begin and end with alphanumeric characters
		2- Doesn’t contain any special character except dashes (-) and dots (.)
		3- Maximum length of each label is 63 characters
		4- Top-level domain has Min 2 and Max 6 characters 
		
		*/
        var regex =  new RegExp('^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$');
        var domain= document.forms["domainform"]["domain_name"].value;
     
        if (! (regex.test(domain)) ) {
          document.getElementById("error_msg").innerHTML= " الرجاء كتابة اسم النطاق بشكل صحيح ";
          return false;
        }
     
      }

</script>
